.footer {
    height: 80vh;
    width: 100%;
    background-color: #665D62;

    &__logo {
        width: 280px; 
        height: 230px;
        object-fit: contain; 
    }
    &__wrapper{
        width: 80%;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: auto auto;  
        gap: 15px;
        width: 100%;
        max-width: 500px;
        color: aliceblue;
    }
}
